.about-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

.cotrack-logo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #387C44;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cotrack-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 15%;
    font-weight: 600;
}

.cotrack-description {
    width: 100%;
    height: 20%;
    font-size: 15px;
}

p {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clemotec-link {
    padding-left: 10px;
    font-weight: 600;
    color: blue;
    cursor: pointer;
}

.buttons-main-div {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    flex-direction: row;
}

.buttons-div {
    width: 50%;
}

.check-update-button {
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 25px;
    background-color: #387C44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-update-button:hover {
    cursor: pointer;
    background-color: #4CC417;
}

.close-about-button {
    color: white;
    border-radius: 30px;
    width: 80px;
    height: 25px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-about-button:hover {
    cursor: pointer;
    background-color: #4CC417;
}