.asterick-icon {
    font-size: 10px;
    margin: 10px;
    color: red;
}

.activate-toggle-on {
    font-size: 30px;
    color: #387C44;
}

.activate-toggle-off {
    font-size: 30px;
    color: #387C44;
}