.table-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-top: solid 3px #387C44;
  width: 95%;
}

.table-thread-tr-th {
  font-size: 15px;
  color: white;
  border: solid 3px #387C44;
  background-color: #387C44;
}

.table-tbody-tr-td {
  font-size: 12px;
  border-right: solid 0px #387C44;
  border-left: solid 0px #387C44;
  color: rgba(0, 0, 0, 0.7);
}

.table-cells-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-table-cells-div {
  display: flex;
  width: 100%;
}