.table-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-top: solid 3px #387C44;
  width: 95%;
}

.table-thread-tr-th {
  font-size: 15px;
  color: white;
  border: solid 3px #387C44;
  background-color: #387C44;
}

.edit-table-cells-div {
  display: flex;
  width: 100%;
}